# Virtual Environments
# ------------------------------------------------
.venv
# IDE Temporary
# ------------------------------------------------
.vscode
.idea

# Secrets
# ------------------------------------------------
.env

# Databases
# ------------------------------------------------
db.sqlite3

# Python Cache
# ------------------------------------------------
__pycache__

# Temporary Jsons
# ------------------------------------------------
.json
