<div class="drawer z-[999]">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-side overflow-auto" style="scrollbar-width: none;">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 rounded-box w-56">
            <li><a href="#introduction">Introduction</a></li>
            <li>
                <details open>
                    <summary>Available Viewsets</summary>
                    <ul>
                        {% if viewset_context %}
                        {% for context in viewset_context%}
                        <li><a href="#{{context.name}}" class="capitalize">{{context.name}} Viewset</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </details>
            </li>
            <li>
                <details close>
                    <summary>Category</summary>
                    <ul>
                        <li><a href="#categories">Get All Categories</a></li>
                        <li><a href="#category">Retreive Category</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details close>
                    <summary>Cart</summary>
                    <ul>
                        <li><a href="#carts">Get All Carts</a></li>
                        <li><a href="#cart">Retreive Cart</a></li>
                        <li><a href="#cart-product-create">Add Product</a></li>
                        <li><a href="#cart-product-remove">Remove Product</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details close>
                    <summary>Wishlist</summary>
                    <ul>
                        <li><a href="#wishlists">Get All Wishlists</a></li>
                        <li><a href="#wishlist">Retreive Wishlist</a></li>
                        <li><a href="#wishlist-product-create">Add Product</a></li>
                        <li><a href="#wishlist-product-remove">Remove Product</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details close>
                    <summary>Order</summary>
                    <ul>
                        <li><a href="#orders">Get All Order</a></li>
                        <li><a href="#create-order">Create Order</a></li>
                        <li><a href="#order">Retreive Order</a></li>
                        <li><a href="#update-order">Update Order</a></li>
                    </ul>
                </details>
            </li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#contributions">Contributions</a></li>
            <li><a href="#license">License</a></li>
        </ul>
    </div>
</div>